@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    background-color: #f5f5f5;
    font-family: 'Pretendard';
}

#wrap {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
}

body {
    position: relative;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #F7B9C7;
}

.header .inner {
    max-width: 500px;
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .top_menu {
    max-width: 500px;
    height: 40px;
    padding-left: 15px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

}

.header .top_menu .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.header .top_menu .swiper-slide {}

.header .inner .logo {
    width: 120px;
}

.header .inner .logo a {
    width: 100%;
    display: block;
}

.header .inner .logo a img {
    width: 100%;
}

.header .inner .util {
    display: flex;
    gap: 15px;
}

.header .inner .util .search {
    width: 24px
}

.header .inner .util .cart {
    width: 24px;
}

.main_visual .inner {
    position: relative;
    margin: 0 auto;
}

.main_visual .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main_visual .inner .text_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.main_visual .inner .text_wrap span {
    font-size: 14px;
}

.main_visual .inner .text_wrap h2 {
    font-size: 22px;
    line-height: 150%;
    margin-top: 10px;
}

.main_visual .inner .text_wrap p a {
    width: 134px;
    height: 43px;
    font-size: 14px;
    padding: 15px 10px;
    background-color: #F7B9C7;
    border-radius: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    display: block;
}

.new .inner {
    max-width: 500px;
    width: calc(100% - 30px);
    margin: 30px auto;
}

.new .inner .title {
    display: flex;
    justify-content: space-between;
}

.new .inner .title h2 {
    font-size: 22px;
}

.new .inner .title h2 p {
    margin-top: 9px;
    font-size: 16px;
    font-weight: normal;
}

.new .inner .title .more {
    font-size: 14px;
}

.new .inner .title .more a {
    display: block;
}

.new .inner .new_swiper {
    margin-top: 20px;
}

.new .inner .new_swiper .swiper-wrapper {
    width: 100%;
}

.new .inner .new_swiper .swiper-slide {
    width: 48.69%;
    position: relative;
}

.new .inner .new_swiper .swiper-slide>img {
    width: 100%;
}
.new .inner .new_swiper .swiper-slide .item_wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.new .inner .new_swiper .swiper-slide .text_wrap {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
}

.new .inner .new_swiper .swiper-slide p {
    font-size: 16px;
    margin-top: 9px;
}

.new .inner .new_swiper .swiper-slide .text_wrap span {
    font-size: 14px;
}

.new .inner .new_swiper .swiper-slide .text_wrap strong {
    font-size: 16px;
    margin-top: 4px;
    font-weight: bold;
}

.new .inner .new_swiper .swiper-slide .text_wrap strong span {
    font-size: 16px;
    font-weight: bold;
}

.new .inner .new_swiper .swiper-slide .item_btn {
    height: 100%;
    display: flex;
    align-items: center;
}

.best .inner {
    max-width: 500px;
    width: calc(100% - 30px);
    margin: 80px auto;
}

.best .inner .title {
    display: flex;
    justify-content: space-between;
}

.best .inner .title h2 {
    font-size: 22px;
}

.best .inner .title h2 p {
    margin-top: 9px;
    font-size: 16px;
    font-weight: normal;
}

.best .inner .list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.best .inner .item {
    width: 100%;
    display: flex;
    align-items: center;
}

.best .inner .item > img {
    width: 109px;
    height: 109px;
}
.best .inner .item .info_wrap{
    width: 100%;
    margin-left: 9px;
}
.best .inner .item .info_wrap .item_wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.best .inner .item .info_wrap .item_wrap .text_wrap{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}